.talks-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  // border: 1px dashed red;

  h2{
    height: 50vh;
    text-align: center;
    font-size: 5vw;
    font-family: 'Lexend Zetta', sans-serif;
    text-transform: uppercase;
  }
}